/*Police d'écriture*/
@font-face {
    font-family: "halloween day's";
    src: url("../dafont/halloween\ day\'s.ttf") format("truetype");
}

@font-face {
    font-family: "plasdrip";
    src: url("../dafont/bloody.ttf") format("truetype");
}

@font-face {
    font-family: "Halloween party demo";
    src: url("../dafont/title.ttf") format("truetype");
}


/*Réglage du corps principal de la page*/
body {
    margin: 0;
    padding: 0;
}

.parent{
    display: flex;
    flex-direction: row;
    width: 100%;
}
/*Réglage des divs de position*/ 
.gauche {
    height: 100vh;
    width: 50%;
    background : black;
    margin-right: 5px;
}

.droite {
    height: 100vh;
    min-height: fit-content;
    width: 50%;
    background : black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

/*Texte*/
.contexte h1 {
    font-family: "Halloween party demo";
    font-size: 600%;
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 5vh;
    
}
  
.consigne ol {
    font-family: "halloween day's";
    text-align: center;
    font-size: 140%;
    color: white;
    border: 1px solid white; 
    padding: 25px;
}

.regle p{ 
    font-family: "halloween day's";
    border: 1px solid white; 
    padding:5px;
    font-size: 110%;
    color: white;
    text-align: center;
    height:fit-content;
}

/*Bouton Jouer*/
.bouton{
    align-self: center;
}

.bouton2 {
    display: flex;
    justify-content:center;
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    border: 4px double black;
    color:black;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
}

.bouton2 span {
    font-family: "plasdrip";
}

/*Mise en forme de l'image*/
.jetevois {
    background-image: url(../image/molly-mills-emil.jpg) ;
    background-size:contain;
    height:300px;
    width:450px;
}


