body {
  margin: 0;
  padding: 0;
}

 .parent{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color:black ;
 }

 .lapin {
  background-image: url("../image/lapin_pendu.jpg");
  background-size: cover;
  height:300px;
  width:300px;
  display: flex;
  justify-content: center;
 }

 .cheh {
  background-image: url("../image/emil-scary-face.jpg") ;
  background-size:cover;
  height: 180px;
  width: 250px;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
 }




 