/*Police d'écriture*/
@font-face {
  font-family: "halloween day's";
  src: url("../dafont/halloween\ day\'s.ttf") format("truetype");
}

@font-face {
  font-family: "plasdrip";
  src: url("../dafont/bloody.ttf") format("truetype");
}

/*Réglage du corps principal de la page*/
body {
  margin: 0;
  padding: 0;
}

.parent{
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*Réglage des divs de position*/ 
.gauche {
  height: 100vh;
  width: 50%;
  background : black;
  display: flex;
  flex-direction: column;
}

.droite {
  height: 100vh;
  min-height: fit-content;
  width: 50%;
  background : black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

/*style et positionnement du texte*/
.tips h2 {
  font-family: "halloween day's";
  font-size: 50px;
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 5vh;   
}

.tips p {
  font-family: "halloween day's";
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
  margin-top: 5vh;
}

.infos {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.tips { 
  border: 1px solid white; 
  padding:5px;
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  height:fit-content;
}

.infos p {
  font-family: "halloween day's";
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: middle;
  height:fit-content;

}

/*Bouton pour soumettre*/
.bouton {
  align-self: center;
}

.bouton {
  display: flex;
  justify-content:center;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  border: 4px double black;
  color:black;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 100px;
}

.bouton span  {
  font-family: "plasdrip";
}

/*Mise en forme de l'image*/
.jetobserve {
  background-image: url(../image/giacomo-vettori-emil1.jpg) ;
  background-size:cover;
  height:300px;
  width:500px;
  margin-left: -70px;
}


