<!DOCTYPE html>
<!-- <html lang="en"> -->

<head>
    <meta charset="UTF-8">
    <!-- <meta lang="fr"> -->
    <link rel="stylesheet" href="../static/accueil.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../image/molly-mills-emil.jpg">
    <title>Hangman</title>
</head>

<body>
    <div class="parent">
        <div class="gauche">
            <div class="contexte">
                <h1>Hangman</h1>
                <div class="bottom">
                    <div class="regle"><p>Sauve José !<br>
                        José est sur le point de se faire pendre ! Mais les juges qui avaient trop bu la veille ont
                        décidés de lui faire une fleur pour rigoler.
                        Si l'un des spectateurs (vous !) réussissez à trouver le mot caché des juges, vous serez en
                        mesure de sauver José !
                        Seriez-vous assez brave pour sortir José de cette mauvaise passe ? Les juges vous offre quelques
                        possibilités.<br>
                        Bonne chance camarade.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="droite">
            <div class="consigne">
                <ol>
                    <li>Vous avez le droit à une lettre indice au tout début du jeu qui apparaîtra de manière totalement
                        alétoire.<br>
                        /!\ Cette lettre peut être à nouveau présente dans le mot.</li><br>
                    <li>Vous avez 10 chances de sauver le pauvre malheureux !</li>
                    <li>Vous n'avez pas le droit d'entrer le mot en entier sous peine de perdre une chance.</li><br>
                </ol>
            </div>
            <div class="jetevois"></div>
            <div class="bouton">
                <a href="/game">
                    <div class = "bouton2" input type="button"><span>Jouer</span></div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>