<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/defaite.page.css" type="text/css">
    <link rel="stylesheet" href="image/lapin_pendu.jpg">
    <link rel="stylesheet" href="image/emil-scary-face.jpg">
    <title>Hangman</title>
</head>
<body>
    <div class="lapin">
        <img src="../image/lapin_pendu.jpg">
    </div>
    <div class="cheh">
        <img src="../image/emil-scary-face.jpg" alt="Cette image a pour but de vous faire rager.">
    </div>
</body>
</html>