<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/defaite.css">
    <link rel="stylesheet" href="../image/lapin_pendu.jpg">
    <link rel="stylesheet" href="../image/emil-scary-face.jpg">
    <title>Hangman</title>
</head>
    <body>
        <div class="parent">
            <div class="lapin"></div>
            <div class = "rip">
                <h1> Et ce qui dû arriver arriva...</h1>
            </div>
            <div class="cheh"></div>
            <div class="bouton">
                <a href="/game">
                    <div class = "bouton2" input type="button" value="Rejouer"></div>
                 </a>
            </div>
        </div>
    </body>
</html>