<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/jeu.css">
    <link rel="stylesheet" href="../image/giacomo-vettori-emil1.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman</title>
</head>
<body>
    <div class="parent">
        <div class = "pendu"></div>
        <div class = "tips">
            <h2>Tips</h2>
            <p>Décide toi vite,<br>
               les juges s'impatientent.
            </p>
        </div>
        <div class = "reponse"></div>
    </div>
</body>
</html>