</div> class = "pendu1"
    </pre> 







    =========
    </pre>
</div>
</div> class = "pendu2"
    </pre>
            |  
            |  
            |  
            |  
            |  
    =========
    </pre>
</div>
</div> class = "pendu3"
    </pre>
        +---+  
            |  
            |  
            |  
            |  
            |  
    =========
    </pre>
</div>
</div> class = "pendu4"
    </pre>
      +---+  
      |   |  
          |  
          |  
          |  
          |  
  =========
  </pre>
</div>
</div> class ="pendu5"
    </pre>
      +---+  
      |   |  
      O   |  
          |  
          |  
          |  
  =========
  </pre
</div>
</div> class = "pendu6"
    </pre>
      +---+  
      |   |  
      O   |  
      |   |  
          |  
          |  
  =========
  </pre>
</div>
</div> class = "pendu7"
    </pre>
      +---+  
      |   |  
      O   |  
     /|   |  
          |  
          |  
  =========
  </pre>
</div>
</div> class = "pendu8"
    </pre>
      +---+  
      |   |  
      O   |  
     /|\  |  
          |  
          |  
  =========
  </pre>
</div>
</div> class = "pendu9"
    </pre>
      +---+  
      |   |  
      O   |  
     /|\  |  
     /    |  
          |  
  =========
  </pre>
</div>
</div> class = "pendu10"
    </pre>
      +---+  
      |   |  
      O   |  
     /|\  |  
     / \  |  
          |  
  =========
  </pre>
</div>
  
  
  
  
  

  
  

