<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/victoire.css">
    <link rel="stylesheet" href="../image/menotte cassée.png">
    <title>Hangman</title>
</head>
<body>
    <div class="parent">
        <div class="message">
            <p>Félicitation, vous avez piégé les juges à leur propre jeu et avez pu libérer le pauvre José.</p>
        </div>
        <div class="illustration"></div>
        <div class="aurevoir">
            <p>À très vite pour de nouveaux jugements.</p>
        </div>
        <div class="bouton">
            <a href="/game">
                <input type="button" value="Rejouer" />
             </a>
        </div>
    </div>
</body>
</html>